[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
asyncio = "*"
asyncstdlib = "*"
pymongo = "*"
boto3 = "*"
fasttext = "*"

[dev-packages]
black = "*"
localstack = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
